html, body {
	margin:0;
}

div{
	overflow: hidden;
	position: absolute;
}
.wood{
	width: 640px;
	height: 1136px;
}
.w01{
	background-image: url('img/wood01.png');	
}
.w02{
	background-image: url('img/wood02.png');	
}
.w03{
	background-image: url('img/wood03.png');	
}
.w04{
	background-image: url('img/wood04.png');	
}

.back{
	width: 640px;
	height: 1136px;
	background-image: url('img/background.jpg');
}
.fan{
	top:800px;
	left:215px;
	width:185px;
	height: 272px;
	background-image: url('img/fan.png');
}
.fan2{
	background-image: url('img/fan2.png');
}
.fan3{
	background-image: url('img/fan3.png');
}
