html, body {
	margin:0;
	width: 100%;
	height: 100%;
}

div{
	overflow: hidden;
	position: absolute;
}
.fullimage {
	width: 100%;
	height: 100%;
	background-size: cover;
}
.w01{
	background-image: url('img/wood01.png');	
}
.w02{
	background-image: url('img/wood02.png');	
}
.w03{
	background-image: url('img/wood03.png');	
}
.w04{
	background-image: url('img/wood04.png');	
}

.back{
	background-image: url('img/background.jpg');
}

#fan-box {
	bottom: 0;
	width: 100%;
	height: 40%;
}
#fan-box div {
	/*position: relative;*/
	background-size: cover;
	left: 30%;
	width: 40%;
	height: 100%;
}
.fan1{
	background-image: url('img/fan.png');
}
.fan2{
	background-image: url('img/fan2.png');
}
.fan3{
	background-image: url('img/fan3.png');
}
